/* LANGUAGE DETECTION*/

/* en (default) */
:root {
    --TEXT-about-title: "ABOUT ME";
    --TEXT-about-description: "Hi, I'm a software developer. Coding, learning, teaching, and problem-solving are my passions.";
    --TEXT-contact-title: "CONTACT";
    --TEXT-contact-email: "Email";
    --TEXT-contact-phone: "Phone";
    --TEXT-links-title: "LINKS";
}

/* pt-BR */
[data-lang="pt"] {
    --TEXT-about-title: "SOBRE MIM";
    --TEXT-about-description: "Oi, sou desenvolvedor de software. Programar, aprender, ensinar e solucionar são minhas paixões.";
    --TEXT-contact-title: "CONTATO";
    --TEXT-contact-email: "Email";
    --TEXT-contact-phone: "Telefone";
    --TEXT-links-title: "LINKS";
}

/* PARSING VARIABLES */
#about>h2::after {
    content: var(--TEXT-about-title);
}

#about>p::after {
    content: var(--TEXT-about-description);
}

#contact>h2::after {
    content: var(--TEXT-contact-title);
}

#email::after {
    content: var(--TEXT-contact-email);
}

#phone::after {
    content: var(--TEXT-contact-phone);
}

#links>h2::after {
    content: var(--TEXT-links-title);
}