/* light mode */
:root {
    /* --COLOR-background-1: hsl(210, 30%, 95%);
    --COLOR-background-2: hsl(210, 15%, 85%); */
    --COLOR-background-1: #eef2f6;
    --COLOR-background-2: #d3d9de;
    --COLOR-background-shadow: hsl(210, 15%, 5%, 15%);
    --COLOR-card-filter: hsl(210, 30%, 95%, 25%);
    --COLOR-font-1: hsl(210, 15%, 5%);
    --COLOR-font-2: hsl(210, 15%, 20%);
    --COLOR-border: hsl(210, 15%, 60%);
    --COLOR-links-div: hsl(210, 15%, 5%, 3%);
    --COLOR-links-linkedin-hover: hsl(210, 100%, 50%, 0.5);
    --COLOR-links-github-hover: hsla(110, 100%, 35%, 0.6);
    --COLOR-links-youtube-hover: hsla(0, 100%, 50%, 0.5);
    --COLOR-links-instagram-hover: hsla(310, 80%, 50%, 0.5);

    /* NO VARIANTS */
    --COLOR-links-component-hover: hsl(210, 30%, 95%);
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        /* --COLOR-background-1: hsl(210, 15%, 15%);
        --COLOR-background-2: hsl(210, 15%, 5%); */
        --COLOR-background-1: #21262c;
        --COLOR-background-2: #0b0d0f;
        --COLOR-background-shadow: hsl(210, 15%, 5%, 30%);
        --COLOR-card-filter: hsl(210, 15%, 5%, 60%);
        --COLOR-font-1: hsl(210, 30%, 95%);
        --COLOR-font-2: hsl(210, 30%, 85%);
        --COLOR-border: hsl(210, 15%, 40%);
        --COLOR-links-div: hsl(210, 15%, 5%, 3%);
        --COLOR-links-linkedin-hover: hsl(210, 80%, 50%, 0.4);
        --COLOR-links-github-hover: hsla(110, 80%, 50%, 0.4);
        --COLOR-links-youtube-hover: hsla(0, 80%, 50%, 0.4);
        --COLOR-links-instagram-hover: hsla(310, 80%, 50%, 0.4);
    }
}